/* Got textures from here: https://www.transparenttextures.com*/

footer, nav, section, article, aside {

    display: block;

}

#trashCan {

    width: 30px;
}

header {

    padding: 1em;
    color: #ffffff;
    background-color: #BD7167;
    clear: left;
    text-align: center;
    border-radius: 20px;
}

body {

    color: #000000;
    /*background-color: #221E1D;*/
    font-family: Calibri, Arial, sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
    background: url(../images/stage.jpg) no-repeat;
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.program-box a {

    text-decoration: none;

}

.container {

    background-color: #ffffff;

}

.jumbotron {

    background-color: #40233E;
    text-align: center;
    padding: 15px;
    font-family: "Arial Black";

}

.jumbotron h1 {

    font-size: 35px;
    font-weight: 500;
    line-height: 1.1;
    font-family: "Arial Black";
}

.row {

    margin: 0;


}

.panel-heading h2 {

    margin-top: 15px;
    margin-bottom: 10px;

}

.panel-group .panel {

    margin-bottom: 20px;

}

button a {

    color: #ffffff;

}

.btn-primary {

    background-color: #BD7167;

}


.panel-heading h3 {

    font-family: Calibri, Arial, sans-serif;
    font-size: 1.3em;

}

#userPhoto {

    width: 100%;
}

.badge-warning {
    background-color: red;
}

/* Scrollbar items, found here: https://scotch.io/tutorials/customize-the-browsers-scrollbar-with-css*/
.scrollbar {
    height: 200px;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    overflow-y: scroll;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {

    background-color: #BD7167;
}

.nav-pills > li > a {

    color: #BD7167;
}

.progress-bar-success {

    background-color: #FB9D7D;
}

.scrollbar-deep-blue::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; }

.scrollbar-deep-blue::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; }

.scrollbar-deep-blue::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #e0c3fc 0%, #8ec5fc 100%);
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); }

.force-overflow {
    min-height: 450px;
}

.short-page {

    margin-bottom: 20%;
}

.container {

    min-height: 100%;
}

.container-fluid {

    background-image: url("../images/cross-stripes.png");
}


.panel-default > .panel-heading {

    background-color: #BD7167;
    color: #ffffff;
}

.panel-primary > .panel-heading {


    background-color:  #BD7167;
}

.panel-primary {

    border-color: #451f3f;
}

.navbar-inverse {

    background-color: #40233E;
    border-color: #080808;
}

.btn-primary:hover {

    background-color: #3F243F;

}

.dataTable th {

    background-color: #BD7167;
    color: #ffffff;
}

.responsive {

    width: 100%;
}

.tabView {

    margin-top: 30px;
}

@media print {

    .jumbotron header {

        display: none;

    }

    footer {

        display: none;

    }


}

.error {

    color: red;
}

@media only screen and (max-width: 767px) {

    #userPhoto {

        width: 30%;
    }

    .dancePanel {

        margin-left: auto;
        margin-right: auto;

    }
}

@media only screen and (min-width: 768px) {

    .dancePanel {

        margin-left: 25%;
        margin-right: 25%;

    }
}