footer, nav, section, article, aside {

    display: block;

}

header {

    padding: 1em;
    color: #ffffff;
    background-color: #028ff3;
    clear: left;
    text-align: center;
}

body {

    color: #000000;
    background-color: #e9eef5;
    font-family: Calibri, Arial, sans-serif;
}

.program-box a {

    text-decoration: none;

}

.container {

    background-color: #ffffff;

}

.jumbotron {

    background-color: #028ff3;
    text-align: center;
    padding: 15px;

}

.jumbotron h1 {

    font-size: 35px;
    font-weight: 500;
    line-height: 1.1;
    color: #000000;
}

.row {

    margin: 0;

}

.panel-heading h2 {

    margin-top: 15px;
    margin-bottom: 10px;

}

.panel-group .panel {

    margin-bottom: 20px;

}

button a {

    color: #ffffff;

}

body footer {

    padding: 1em;
    color: #ffffff;
    background-color: #028ff3;
    text-align: center;
    margin-top: 0;

}

.panel-heading h3 {

    font-family: Calibri, Arial, sans-serif;
    font-size: 1.3em;

}

#userPhoto {

    width: 100%;
}

/* Scrollbar items, found here: https://scotch.io/tutorials/customize-the-browsers-scrollbar-with-css*/
.scrollbar {
    background-color: #F5F5F5;
    float: left;
    height: 300px;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 65px;
    overflow-y: scroll;
}

.scrollbar-deep-blue::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; }

.scrollbar-deep-blue::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; }

.scrollbar-deep-blue::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #e0c3fc 0%, #8ec5fc 100%);
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); }

.force-overflow {
    min-height: 450px;
}

@media print {

    .jumbotron header {

        display: none;

    }

    footer {

        display: none;

    }


}

@media only screen and (max-width: 767px) {

    #userPhoto {

        width: 50%;
    }
}