<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/danceUpTest</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

        <property name="connection.username">root</property>
        <property name="connection.password">M@dJa5@##!</property>

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <mapping class="com.danceUpByStas.entity.Dance"/>
        <mapping class="com.danceUpByStas.entity.User"/>
        <mapping class="com.danceUpByStas.entity.Role"/>
        <mapping class="com.danceUpByStas.entity.UserRole"/>
        <mapping class="com.danceUpByStas.entity.UserDance"/>
        <mapping class="com.danceUpByStas.entity.Lesson"/>
        <mapping class="com.danceUpByStas.entity.Location"/>
        <mapping class="com.danceUpByStas.entity.UserLesson"/>
        <mapping class="com.danceUpByStas.entity.Schedule"/>


    </session-factory>

</hibernate-configuration>